<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commentaire-heading" jhiTranslate="hillcodeApp.commentaire.home.createOrEditLabel">Create or edit a Commentaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hillcodeApp.commentaire.dateCreation" for="field_dateCreation">Date Creation</label>
                    <input type="number" class="form-control" name="dateCreation" id="field_dateCreation"
                           formControlName="dateCreation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hillcodeApp.commentaire.commentaire" for="field_commentaire">Commentaire</label>
                    <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                           formControlName="commentaire"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hillcodeApp.commentaire.article" for="field_article">Article</label>
                    <select class="form-control" id="field_article" name="article" formControlName="article">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="articleOption.id === editForm.get('article').value?.id ? editForm.get('article').value : articleOption" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hillcodeApp.commentaire.utilisateur" for="field_utilisateur">Utilisateur</label>
                    <select class="form-control" id="field_utilisateur" name="utilisateur" formControlName="utilisateur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="utilisateurOption.id === editForm.get('utilisateur').value?.id ? editForm.get('utilisateur').value : utilisateurOption" *ngFor="let utilisateurOption of utilisateurs; trackBy: trackUtilisateurById">{{utilisateurOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
